@font-face {
	font-family: MonaSans;
	src: url('fonts/MonaSans-Regular.ttf');
}

@font-face {
	font-family: MonaSans-Medium;
	src: url('fonts/MonaSans-Medium.ttf');
}

@font-face {
	font-family: MonaSans-Bold;
	src: url('fonts/MonaSans-Bold.ttf');
}

html {
	background: #020617;
	padding: 0;

	background-image: linear-gradient(90deg,rgb(59,61,124,0.171),rgba(32,55,103,0.144)), url('background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body {
	background: #0f172a7b;
	color: white;

	max-width: 800px;
	min-height: 100vh;

	margin: auto;

	padding-top: 40px;
	padding-left: 32px;
	padding-right: 32px;

	border-left: 2px solid #1e293b;
	border-right: 2px solid #1e293b;

	scrollbar-color: gray #151515;
	font-family: MonaSans;
	font-size: 1rem;

	/* From https://css.glass */
	background: rgba(58, 82, 113, 0.19);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.7px);
	-webkit-backdrop-filter: blur(6.7px);
	border-left: 1px solid rgba(101, 128, 160, 0.3);
	border-right: 1px solid rgba(101, 128, 160, 0.3);
}

.meta-info {
	padding: 12px 12px 12px 12px;
	margin-bottom: 48px;

	background: rgba(58, 82, 113, 0.19);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.7px);
	-webkit-backdrop-filter: blur(6.7px);
	border: 1px solid rgba(101, 128, 160, 0.3);
}

.meta-info h2 {
	margin-top: 0px;
	margin-bottom: 8px;
}

.meta-info hr {
	color: #cbd5e157;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
}

::-webkit-scrollbar {
	width: .66vw;
	background-color: #151515;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 5px;
}

a {
	color: #60a5fa;
	text-decoration: none ;
}

#tagcloud {
	list-style: none ;
	text-align: center ;
	padding: 0 ;
}

#tagcloud li {
	display: inline-block ;
}

#tagcloud a {
	margin: .1em .25em ;
}

a:visited {
	color: #818cf8;
}

a:hover {
	color: beige ;
}

h1 {
	margin-top: 0;
	padding-bottom: 8px;
	border-style: solid;
	border-color: #c7d2fe;
	border-width: 0px 0px 1px 0px ;
	text-align: center;
	color: #cbd5e1;
	font-family: MonaSans-Bold;
}

h2 {
	color: #cbd5e1;
	text-align: left;
	margin-top: 32px;
	margin-bottom: 8px;
	font-family: MonaSans-Medium;
}

header {
	margin-top: 0;
	border: none;
}

footer {
	text-align: center ;
	border-style: solid ;
	border-color: #c7d2fe;
	border-width: 1px 0px 0px 0px ;
	padding: 1em ;
}

img {
	max-width: 90% ;
	max-height: 400px ;
	margin: auto ;
	display: block ;
}

.icon {
	margin: auto;
	display: inline;
	width: 1em;
}

code {
	font-size: small;
	overflow-wrap: break-word ;
	color: lime ;
}

.taglist {
	text-align: center ;
	margin-bottom: 2em ;
	margin-top: 2em ;
}

img[alt="BTC Logo"],
img[alt="ETH Logo"],
img[alt="XMR Logo"] {
	max-width: 1em ;
	max-height: 1em ;
	display: inline ;
}

@media (pointer: coarse) {
	li > a {
	    display: inline-block;
		padding: 0.2em 0;
	}
}

@media print {
	a[href] {
		text-decoration: none ;
		color: black ;
	}

	footer,.taglist { display: none ; }

	body {
		margin: 0;
	}


}

.older-article {
	display: none ;
}

.hidden {
	display: none !important ;
}

#artlist {
	font-size: large ;
}

#artlist li {
	padding: .25em ;
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}


input#search {
  all: unset;
  color: #c7d2fe;
  border: 1px solid #c7d2fe;
  padding: 0.7rem 1rem;
  border-radius: 0px;
  width: 100%;
}

.search {
  color: #c7d2fe;
  width: 400px;
  max-width: 85vw;
  position: relative;
  margin: 0.5rem auto 3rem;
  display: flex;
}

button#clear-search {
  all: unset;
  position: absolute;
  right: 16px;
  top: 8px;
  height: 30px;
  width: 30px;
  color: #818cf8;
  cursor: pointer;
  transition: color 180ms ease-in-out;
}
button#clear-search:hover {
  color: #c7d2fe;
}


.matched-recipe {
	font-size: x-large ;
	display: list-item !important ;
}

.list-searched {
	column-count: 1 !important ;
	list-style: decimal ;
	max-width: 600px ;
	margin: auto ;
}


.cryptocontainer {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
}
.cryptoinfo {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cryptoinfo code {
	font-size: small ;
	overflow-wrap: break-word ;
}
.qr {
    max-height: 150px; ;
	padding-top: 10px;
	padding-bottom: 10px;
}

.js-only { display: none ; }
